.chart-container {
  position: relative;
  height: 40vh;
  width: 80vw;
}
.map-container {
  position: relative;
  height: 720px;
  width: 382px;
  /* background-color: blue; */
  /* overflow: hidden; */
}
.map-container img {
  border-radius: 10px 0px 0px 10px;
  filter: drop-shadow(0px 4px 8px #4e87b1);
}
